@model Mvc2AjaxFetch15.ViewModels.PlayerGetPlayersFromViewModel

@{
    Layout = null;
}


@foreach (var item in Model.Items)
{
    <tr>
        <td>@item.Namn</td>
        <td>@item.JerseyNumber</td>
        <td>@item.Position</td>
    </tr>
}

